<div class="background">

  <div class="content">
    <form #form="ngForm" [formGroup]="formulario" (ngSubmit)="logar()" class="example-form">
      <mat-progress-bar *ngIf="showLoading" color="warn" mode="indeterminate"></mat-progress-bar>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Kratos</mat-card-title>
          <mat-card-subtitle>The God of War</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="main-image" src="https://cdn.worldvectorlogo.com/logos/slack.svg" width="100"
          alt="Photo of a Shiba Inu">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input required formControlName="username" matInput type="text" placeholder="Nome" value="">
            <mat-error *ngIf="formHasError">Usuário é obrigatório</mat-error>
            <mat-hint>Informe o usuário</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input required formControlName="password" type="password" matInput placeholder="Senha" value="">
            <mat-error *ngIf="formHasError">Senha é obrigatória</mat-error>
            <mat-hint>Informe a senha</mat-hint>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button [disabled]="!form.valid" mat-raised-button color="primary">Logar</button>
        </mat-card-actions>
      </mat-card>

    </form>
  </div>
</div>
